
:root > * {

    /* Base colors */
    --glx-dark-accent01:#505B6B;
    --glx-dark-accent02:#434D5B;
    --glx-dark-accent03:#2C333D;
    --glx-dark-accent04:#272E38;
    --glx-dark-accent05:#242930;

    --glx-light-accent01:#F2F3F4;
    --glx-light-accent02:#D2D8E1;
    --glx-light-accent03:#909FB5;
    --glx-light-accent04:#808691;

    --glx-blue:#1E8ABD;


    /* Primary theme  */
    --md-primary-fg-color:        var(--glx-dark-accent01,"");
    --md-primary-fg-color--light: var(--glx-light-accent03,"");
    --md-primary-fg-color--dark:  var(--glx-dark-accent05,"");
    /* Accent theme  */
    --md-accent-fg-color: var(--glx-blue,"");

    /* Footer theme  */
    --md-footer-bg-color:        var(--glx-dark-accent01,"");

}
.center{
    text-align: center;
}

.center .center-logo{

    width: 30%;
    margin: 0 auto;
    display: block;
}

:root .md-header__title{
    margin-left: 2px;
}
